.container{
    box-shadow: 0 5px 10px rgba(7, 7, 7, 0.3);
    padding: 20px 40px;
}
.btn{
    box-shadow: 0 5px 10px rgba(7, 7, 7, 0.3);
}
#sidebar {
    
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}


